[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/Groovounet/glm.git
[submodule "External/tinygltf"]
	path = External/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "External/stl_reader"]
	path = External/stl_reader
	url = https://github.com/sreiter/stl_reader.git
[submodule "External/glTF-SDK"]
	path = External/glTF-SDK
	url = https://github.com/microsoft/glTF-SDK.git
