[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/Groovounet/glm.git
[submodule "External/tinygltf"]
	path = External/tinygltf
	url = https://github.com/syoyo/tinygltf.git
